body {
    background-color: #FCF3CF;
    padding: 150px;
}

table {
    background-image: src="slogan.JPG";
    background-repeat: repeat-y;
}

#RecetasEmily {
    background-color: #E59866;
}

#RecetasEmily ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#RecetasEmily ul li {
    display: inline-block;
    text-decoration: none;
    padding: 8px 60px;
}

#RecetasEmily ul li a {
    text-decoration: none;
    color: black;
}

#RecetasEmily ul li a:hover {
    background-color: #FAE5D3;
}

button {
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 62px;
    background-color: #FE9A6E;
    color: #FACEB4;
    padding: 14px 20px;
    border: solid #e6e6e6;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

button:active {
    background-color: #FACEB4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:hover {
    border-radius: 40px;
    background-color: #FACEB4;
    color: #000000;
}

button:focus {
    outline: 0;
}